<div class="container-fluid bg-main-light p-3">
  <h2>Get The FreshCart app</h2>
  <P>we will send you a link, open it in your phone to download app</P>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-9 col-sm-7">
        <input class="w-100" id="email" type="text" placeholder="Email...">
      </div>
      <div class="col-md-3 col-sm-5">
        <button class="btn bg-main w-100 " type="submit">Share App Link</button>
      </div>
      <hr class="mt-4">
    </div>
    <div class="row g-5">
      <div class="col-6">
        <h6 class="h6">Payment Partners</h6>
        <img src="../../../assets/payment.jpg" height="100" alt="">
      </div>
      <div class="col-6">
        <h6 class="h6">Get deliveries with FreshCart </h6>
        <img src="../../../assets/paly store.png" alt="">
      </div>
    </div>
  </div>
</div>
